apiVersion: v1
kind: Namespace
metadata:
  name: {{.ServiceNamespace}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{.ServiceName}}-svc
  namespace: {{.ServiceNamespace}}
  labels:
    tier: gateway
spec:
  selector:
    app: {{.ServiceName}}
  ports:
    - port: 8080
      targetPort: 8081
      protocol: TCP
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.ServiceName}}
  namespace: {{.ServiceNamespace}}
  labels:
    tier: gateway
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.ServiceName}}
  namespace: {{.ServiceNamespace}}
  labels:
    tier: gateway
spec:
  selector:
    matchLabels:
      app: {{.ServiceName}}
  template:
    metadata:
      labels:
        app: {{.ServiceName}}
        tier: gateway
    spec:
      containers:
        - name: {{.ServiceName}}
          image: {{.Registry}}/{{.ProjectName}}.{{.ServiceNamespace}}.{{.ServiceName}}:latest
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 8081
          env:
            - name: OTL_CONNECTOR
              value: "otelcol-hubble-collector.kube-system.svc.cluster.local:55690"
      serviceAccountName: {{.ServiceName}}
